<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <title>Document</title>
  </head>

  <body>
    <div id="form">
      <div class="px-4 py-3">
        <h2>Мое офигенное резюме</h2>
        <br />
        <div>
          <p>Введите ФИО</p>
          <input
            :style="{ color: activeColor1 }"
            type="text"
            id="FIO"
            v-model="FIO"
          />
        </div>
        <br />
        <div>
          <p>Введите ДР</p>
          <input type="date" id="BD" v-model="BD" />
        </div>
        <br />
        <div>
          <p>Введите город</p>
          <input type="text" id="city" v-model="city" />
        </div>
        <br />
        <div>
          <p>Введите email</p>
          <input
            :style="{ color: activeColor }"
            type="text"
            id="email"
            v-model.lazy="email"
          />
        </div>
        <br />
        <div>
          <p>Введите телефон</p>
          <input
            :style="{ color: activeColor2 }"
            type="tel"
            id="phone"
            v-model.lazy="phone"
          />
        </div>
        <br />
        <div>
          <p>Выберите образование</p>
          <select id="education" v-model="education">
            <option value="">Не выбрано</option>
            <option value="Среднее">Среднее</option>
            <option value="Среднее специальное">Среднее специальное</option>
            <option value="Неоконченное высшее">Неоконченное высшее</option>
            <option value="Высшее">Высшее</option>
          </select>
        </div>
        <br />
        <div id="education_input" hidden="hidden">
          <div>
            <p>Введите учебное заведение</p>
            <input type="text" v-model="education_place" />
            <br />
          </div>
          <div>
            <p>Введите факультет</p>
            <input type="text" v-model="facultet" />
            <br />
          </div>
          <div>
            <p>Введите специализацию</p>
            <input type="text" v-model="specialization" />
            <br />
          </div>
          <div>
            <p>Введите год окончания</p>
            <input type="number" v-model="end_year" />
            <br />
          </div>
        </div>
        <div>
          <p>Введите свои навыки</p>
          <input type="text" id="skills" v-model="skills" />
        </div>
        <br />
        <div>
          <p>Введите информацию о себе</p>
          <input type="text" id="about_me" v-model="about_me" />
        </div>
        <br />
        <div>
          <p>Введите желаемую ЗП</p>
          <input type="number" id="salary" v-model.number="salary" />
        </div>
      </div>
      <div class="text-bg-dark">
        <div class="px-4 py-5">
          <h2 class="pb-2 border-bottom px-4">Профессия</h2>
          <div class="row align-items-stretch g-5 py-5 container">
            <img
              class="card card-cover overflow-hidden rounded-4 shadow-lg"
              style="width: 30%"
              src="https://sun9-west.userapi.com/sun9-11/s/v1/ig2/tZf3hZeGb_3NdicbSCG7vZvGaftWkBp1vyHzGexUolahMDyTjMi2NSrJZaIbA1BdO5FAfPN2le2ik3nNeHPVDdNE.jpg?size=736x687&quality=95&type=album"
              alt="placeholder"
            />
            <div>
              <div>
                <h4>ФИО</h4>
                <p style="word-break: break-all">{{FIO}}</p>
              </div>
              <div>
                <h4>ДР</h4>
                <p>{{BD}}</p>
              </div>
              <div>
                <h4>Город</h4>
                <p style="word-break: break-all">{{city}}</p>
              </div>
              <div>
                <h4>Email</h4>
                <p style="word-break: break-all">{{email}}</p>
              </div>
              <div>
                <h4>Телефон</h4>
                <p>{{phone}}</p>
              </div>
            </div>
            <div>
              <div>
                <h4>Образование</h4>
                <p style="word-break: break-all">{{education}}</p>
              </div>
              <div id="edu_view" hidden="hidden">
                <div>
                  <h4>Учебное заведение</h4>
                  <p style="word-break: break-all">{{education_place}}</p>
                </div>
                <div>
                  <h4>Факультет</h4>
                  <p style="word-break: break-all">{{facultet}}</p>
                </div>
                <div>
                  <h4>Специализация</h4>
                  <p style="word-break: break-all">{{specialization}}</p>
                </div>
                <div>
                  <h4>Год окончания</h4>
                  <p style="word-break: break-all">{{end_year}}</p>
                </div>
              </div>
              <div>
                <h4>Навыки</h4>
                <p style="word-break: break-all">{{skills}}</p>
              </div>
              <div>
                <h4>О себе</h4>
                <p style="word-break: break-all">{{about_me}}</p>
              </div>
            </div>
          </div>
          <div>
            <h4>Желаемая ЗП</h4>
            <p>{{salary}}</p>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
    <script>
      new Vue({
        el: "#form",
        data: {
          FIO: "",
          BD: "",
          city: "",
          email: "",
          phone: "",
          education: "",
          skills: "",
          about_me: "",
          salary: "",
          activeColor: "",
          activeColor1: "",
          activeColor2: "",
          education_place: "",
          facultet: "",
          specialization: "",
          end_year: "",
        },
        watch: {
          education: function (neweducation, oldeducation) {    //обработчик значений образования
            zone1 = document.getElementById("education_input");
            zone2 = document.getElementById("edu_view");
            if (
              neweducation == "Среднее специальное" ||
              neweducation == "Неоконченное высшее" ||
              neweducation == "Высшее"
            ) {
              zone1.removeAttribute("hidden");      //добавление или удаление атрибута hidden
              zone2.removeAttribute("hidden");
            }
            else{
              zone1.hidden = "hidden";
              zone2.hidden = "hidden";
            }
          },
          FIO: function (newFIO, oldFIO) {    //обработчик фио
            this.FIO = newFIO;
            const regex = /[А-ЯA-Zа-яa-z -]/g;
            newFIO = newFIO.match(regex);     //проверака на совпадение с регуляркой
            if (!newFIO) {
              this.activeColor1 = "red";
            } else {
              this.activeColor1 = "black";
            }
          },
          city: function (newcity, oldcity) {   //обработчик города
            const regex = /[А-ЯA-Zа-яa-z -]/g;
            newcity = newcity.match(regex);     //проверака на совпадение с регуляркой
            this.city = newcity;
            if (newcity) {
              newcity = newcity.join("");
            } else {
              this.city = "";
            }
          },
          email: function (newemail, oldemail) {    //обработчик почты
            this.email = newemail;
            const regex = /^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$/;
            newemail = newemail.match(regex);     //проверака на совпадение с регуляркой
            if (!newemail) {
              this.activeColor = "red";
            } else {
              this.activeColor = "black";
            }
          },
          phone: function (newphone, oldphone) {    //обработчик телефона
            this.phone = newphone;
            const regex = /^[0-9]{7,10}$/;
            newphone = newphone.match(regex);     //проверака на совпадение с регуляркой
            if (!newphone) {
              this.activeColor2 = "red";
            } else {
              this.activeColor2 = "black";
            }
          },
        },
      });
    </script>
  </body>
</html>
